# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packages and virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/

# Local testing artifacts
*.pytest_cache/
.coverage
.pytest_cache/
*.sqlite
